@import '../../../scss/main';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field,
    .auth-button {
        width: 70%;

        @include extra-large {
            & {
                width: 60% !important;
            }
        }
    }

    .errors-container {
        text-align: center;
        height: 3rem;

        .help-block {
            color: var(--primary-color);
        }
    }
}
