<div class="background-container" style="background-image: url(assets/images/wallpaper.jpg);">
    <div class="content-container animate__animated animate__fadeIn">
        <div class="title-container">
            <img src="assets/images/pokemon.png" alt="Pókedex" class="title-img">
            <h1 class="title">PÓKEDEX</h1>
        </div>
        <div class="buttons-container">
            <button class="auth-button" routerLink="/login" routerLinkActive="active">INICIAR SESIÓN</button>
            <button class="auth-button" routerLink="/signin" routerLinkActive="active">REGISTRARSE</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>