@import '../../../scss/main';

.home-container {
    height: 100vh;
    overflow-y: hidden;
    background-color: #fafafa;

    .header-container {
        height: 140px;
    }
}

.logo-container {
    display: flex;

    .logo-img {
        width: 2rem;
        padding-right: 1rem;
    }

    span {
        letter-spacing: 1px;
    }

    &:hover {
        cursor: pointer;
    }
}

.spacer {
    flex: 1 1 auto;
}

.page-container {
    display: flex;
    justify-content: center;

    .content-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        margin: 1.5rem;

        @include large {
            & {
                width: 90%;
            }
        }

        @include extra-small {
            & {
                width: 100%;
            }
        }

        .form-container {
            display: flex;
            width: 30%;
            justify-content: center;
            align-items: center;
            border: 2px solid #888;
            padding: 5px 1rem;
            border-radius: 1rem;
            font-size: 1rem;

            @include small {
                & {
                    width: 60%;
                }
            }

            @include extra-small {
                & {
                    width: 70%;
                }
            }

            input.search-input {
                border: none;
                display: flex;
                outline: none;
                font-family: "Poppins", sans-serif;
                background-color: transparent;
            }

            button.search-button {
                display: flex;
                color: #888;
            }
        }
    }
}