<mat-card class="pokemon-card" (click)="goToPokemonDetail()">
  <mat-card-content>
    <div class="card-container">
        <h3 class="pokemon-name">{{ pokemon.name | titlecase }}</h3>
        <img [src]="pokemon.image ? pokemon.image : 'assets/images/pokemon.png'" alt="pokemon.name" class="pokemon-img" />
        <mat-chip-list class="pokemon-types">
            <mat-chip *ngFor="let type of pokemon.types"> {{ type }}</mat-chip>
        </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>
