/* You can add global styles to this file, and also import other style files */
@import "app/scss/main";

// regular style toast
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
    margin: 0;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    font-family: 'Poppins', sans-serif !important;
}
