@import '../../../scss/main';

.pokemon {
    width: 15%;
    margin: 1rem;

    @include large {
        & {
            width: 22%;
        }
    }

    @include small {
        & {
            width: 35%;
        }
    }

    @include extra-small {
        & {
            width: 70%;
        }
    }
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 204px;
}
